.App {
  margin: 4px;
}

.container {
  width: 600px;
  height: 600px;
  display: grid;
  border: solid 1.5px black;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.map-cell {
  box-sizing: border-box;
}
